html {
background-color: #f1e9c2;   
    border-style:double;
    border-color: black;
    border-width: thick;
    text-align:center;
}

.Enter {
    color: teal;
    background-color: black;
    width: 100px;
    
}

ul {
    list-style: none;
}

li {
   
display:inline-block;
float: left;
  width: 25%;
  margin: 2.5%;
    
}
    